.appHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e2e3;
  border-top: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 48px;
}
